<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.min.css">
    <title>QueryWeb</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl"> 
        <p>查询信息: <input type="text" ng-model="queryKey">
            <button class="btn btn-success" ng-click="queryData()">查询</button>
        </p>  
        <table class="table table table-striped">
            <tr>
                <th>index</th>
                <th>boardInfo</th>
                <th>cpuInfo</th>
            </tr>
            <tr ng-repeat="x in resultArray">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.boardInfo }}</td>
                <td>{{ x.cpuInfo }}</td>
            </tr>
        </table>
    </div>
</body>
    <script src="jquery/jquery.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="javascripts/index.js"></script>
</html>